h1 {
    background-color:tan;
    font-size: 50px;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.title2 {
    text-align: center;
    font-size: 35px;
    background-color: tan;
    margin-top: 0;
    padding: 0;
}

body {
    background-color: rgba(110, 255, 255, 0.411);
}

.scoreboard {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font: bold;
    font-size: x-large;
}

.flexem {
    display: flex;
    flex: 3 5 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
}

.choicepix {
    display: flex;
    max-height: 250px;
    width: auto;
    border-style: ridge;
    border:saddlebrown;
    border-width: 10px;
    padding: 10px;
    margin: 10px;
}

.choicepix:hover {
    animation-name: glowbutt;
    animation-duration: 0.1s;
    background-color: #fff;
    box-shadow:
    0 0 5px 5px #fff,  /* inner white */
    0 0 15px 15px rgb(247, 172, 33),
    0 0 30px 30px #0ff; /* outer cyan */
}

@keyframes glowbutt {
    from {background-color: #fff;
    box-shadow: 0 0 0 0;}
    to {background-color: #fff;
    box-shadow:
    0 0 45px 45px #fff,  /* inner white */
    0 0 50px 30px rgb(247, 172, 33),
    0 0 140px 100px #0ff; /* outer cyan */
    }
}